#!/bin/bash
echo "Please run \"source ./env.sh\" if you intend to manage clusters"
# Set up Google Workspace IdP
# These values are static for all users on the `weave.works` GW domain
# https://github.com/koalaman/shellcheck/wiki/SC2155
# gsts compatible AWS CLI Profile name
AWS_PROFILE=sts
  export AWS_PROFILE
# Cluster management role
AWS_ROLE_ARN="arn:aws:iam::894516026745:role/WeaveEksEditor"
  export AWS_ROLE_ARN
# Hack to test if this has been read by `direnv`
# https://github.com/direnv/direnv/issues/244
DIRENV_ACTIVE=true
  export DIRENV_ACTIVE
# Global for Weaveworks
GOOGLE_IDP_ID=C0203uytv
  export GOOGLE_IDP_ID
GOOGLE_SP_ID=656726301855
  export GOOGLE_SP_ID
