apiVersion: v1
kind: Config
current-context: ${cluster.name}
clusters: 
- name: ${cluster.name}
  cluster:
    certificate-authority-data: ${cluster.certificate_authority_data}
    server: ${cluster.server}
contexts: 
- name: ${cluster.name}
  context:
    cluster: ${cluster.name}
    user: ${user.name}
users: 
- name: ${user.name}
  user:
    token: ${user.token}
